.wrapper {
  width: 90%;
  max-width: 1136px;
  margin: 0 auto;
}

.lp-header {
  padding: 26px;
  background: #F2F2F7; 

  &-navbar {
    padding: 0;
    margin: 0;
    display: flex;

    &-item {
      list-style: none;
      margin-left: 32px;

      &:first-of-type {
        margin-left: 0;
      }

      a {
        font-weight: 500;
        color: #1C1C1E;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.lp-sc-banner {
  min-height: 749px;
  padding: 88px 0;
  background: #F2F2F7;

  &-before-title, &-description{
    font-family: 'Montserrat', sans-serif;
  }

  &-before-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #CE5300;
    text-transform: uppercase;
  }

  &-title {
    font-size: 64px;
    font-weight: 300;
    line-height: 88px;

    @include media-breakpoint-up(md) {
      
    }

    strong {
      font-weight: 600;
    }
  }

  &-description {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 24px;
  }

  &-button {
    color: #fff;
    padding: 8px 71.5px;
    border-radius: 4px;
    display: table;
    transition: all 0.3s ease-in-out;
    background: #F56300;

    &:hover {
      color: #fff;
      opacity: 0.8;
    }
  }
}

@media(max-width: 768px) {
  .lp-sc-banner {
    &-title {
      font-size: 50px;
      line-height: 70px;
    }

    &-button {
      display: table;
      margin: 0 auto;
    }
  }
}

.lp-footer {
  padding: 64px 0;
  background: #1E2024;

  &-copyright {
    font-size: 14px;
    line-height: 24px;
    color: #C2C5CC;
  }
}

.lp-poweredby {
  padding: 16px 0;

  span {
    color: #969BA7;
  }
}

.cp-card {
  width: 100%;
  padding: 32px;
  border-radius: 16px;
  background: #fff;

  &--smaller {
    padding: 16px;
  }

  &-title {
    font-size: 24px;
    line-height: 32px;
    color: #1C1C1E;
    margin: 0;
  }

  &-button {
    display: table;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #F56300;
  }
}